<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "cofd.weapon.type"}}</th>
                <th>{{localize "cofd.weapon.dmg"}} </th>
                <th>{{localize "cofd.weapon.range"}}</th>
                <th>{{localize "cofd.weapon.clip"}}</th>
                <th>{{localize "cofd.weapon.initiative"}}</th>
                <th>{{localize "cofd.weapon.str"}}</th>
                <th>{{localize "cofd.item.size"}}</th>
                <th>{{localize "cofd.item.availability"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.type">
                        {{#select data.type}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.damage" type="number" value="{{data.damage}}" min=0 max=10 data-dtype="Number"/>
                </td>
                <td>
                    <input name="data.range" type="number" value="{{data.range}}" min=0 data-dtype="Number" />
                </td>
                <td>
                    <input name="data.clip" type="number" value="{{data.clip}}" min=0 data-dtype="Number" />
                </td>
                <td>
                    <input name="data.initiative" type="number" value="{{data.initiative}}" min=-10 max=10 data-dtype="Number" />
                </td>
                <td>
                    <input name="data.strength" type="number" value="{{data.strength}}" min=1 max=10 data-dtype="Number" />
                </td>
                <td>
                    <input name="data.size" type="number" value="{{data.size}}" min=1 max=10 data-dtype="Number" />
                </td>
                <td>
                    <input name="data.availability" type="number" value="{{data.availability}}" min=0 max=10 data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <td>
                    <th>{{localize "cofd.weapon.special"}}: </th>
                </td>
                <td colspan="7">
                    <input name="data.special" type="text" value="{{data.special}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>
